# if errors, all file is comprimised

[connection]
generate_certs = true                   # default true, if true key_path and certs_path are ignored
key_path = "certs/key.pem"              # default "certs/key.pem", but ignored with generate_certs true
certs_path = "certs/cert.pem"           # default "certs/cert.pem", but ignored with generate_certs true

[display]
custom_display = true                   # default false, if true desktop is ignored
display = ":1"                          # default ":1", used to start new desktop if custom_display is false, need to start your own desktop if true 
desktop_env = "xfce4"                   # default "xfce4", desktop environment selected only if custom_display is false 
dimensions = "1024x768x24"              # default "1024x768x24", width x height x alpha. Alpha is the depth
max_slice_size = 0                      # default 0, if 0 is dynamic in the code

[settings]
log_path = "/var/log/rrdp.log"          # default "/var/log/rrdp.log", log file (ignored because i print parsing error not in this file. Use a buffer or pass this file as arg)
debug = true                            # default true, if true prints errors and warinings on screen (not implemented yet)
error_default = true                    # default true, if true uses default values if errors in this file, else stops the program (not implemented yet)
